.tadd-card{
  animation: fadeInDown 1s ease-out;
}


@keyframes fadeInDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


img {
    width: 80px; 
    height: auto; 
  }
  
  ion-title{
    font-family: 'Cooper Black', sans-serif;
    color: #27588a;
  }


/* Fondo empresarial con degradado */
ion-content {
  --background: linear-gradient(135deg, #a8c4e0 1%, #ffffff 50%, #a8c4e0 90%);
}

/* Opcional: Estilo para las tarjetas */
.tadd-card ion-card {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

ion-button {
  background-color: #27588a;
  color: white;
  border-radius: 20px;
}

