<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Trabajador</ion-title>
    
    <!-- Contenedor para el logo -->
    <div class="menu-container">
      <div class="logo-container">
      <img src="/assets/image/logoGYB.jpg" alt="Logo de la empresa" class="user-image" (click)="toggleMenu()">
    </div>
    </div>
  </ion-toolbar>
</ion-header>

<!-- Menú desplegable fuera del ion-toolbar -->
<div class="dropdown-menu" *ngIf="isMenuOpen">
  <ion-item (click)="logout()"><ion-icon name="exit-outline" slot="start"></ion-icon>
  Cerrar Sesión
  </ion-item>
</div>

<ion-content class="ion-padding">
  <form [formGroup]="workerForm" (ngSubmit)="onSubmit()">
    <div class="tadd-card">
    <ion-card>
      <ion-item>
        <ion-label position="stacked">Cargo</ion-label>
        <ion-input type="text" formControlName="role" required></ion-input>
      </ion-item>
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input type="text" formControlName="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input type="text" formControlName="apellido" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Identificacion</ion-label>
      <ion-input type="number" formControlName="identificacion" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fecha de nacimiento</ion-label>
      <ion-input type="date" formControlName="fn" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Sexo</ion-label>
      <ion-input type="text" formControlName="sexo" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">EPS</ion-label>
      <ion-select formControlName="eps" placeholder="Seleccionar EPS" required>
        <ion-select-option *ngFor="let eps of epsOptions" [value]="eps">{{ eps }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">AFP</ion-label>
      <ion-select formControlName="afp" placeholder="Seleccionar AFP" required>
        <ion-select-option *ngFor="let afp of afpOptions" [value]="afp">{{ afp }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fecha de ingreso</ion-label>
      <ion-input type="date" formControlName="fi" required></ion-input>
    </ion-item>
    <br>
    <br>
    <ion-item>
      <app-avatar [control]="workerForm.get('image')!"></app-avatar>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="!workerForm.valid" class="ion-margin">
      {{ editId ? 'Actualizar' : 'Guardar' }}
    </ion-button>
    </ion-card>
    </div>
  </form>
</ion-content>
