<ion-content [fullscreen]="true">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item routerLink="/home" routerDirection="root">
          <div  class="update-card-icon">
          <ion-icon name="home-outline"></ion-icon>
          </div>
          Home
        </ion-item>
        <ion-item routerLink="/proyectos" routerDirection="root">
          <div  class="update-card-icon">
          <ion-icon name="reader-outline"></ion-icon>
          </div>
          Proyectos
        </ion-item>
        <ion-item routerLink="/suministros" routerDirection="root">
          <div  class="update-card-icon">
          <ion-icon name="albums-outline"></ion-icon>
          </div>
          Suministros
        </ion-item>
        <ion-item routerLink="/contabilidad" routerDirection="root">
          <div  class="update-card-icon">
          <ion-icon name="wallet-outline"></ion-icon>
          </div>
          Contabilidad
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Trabajadores</ion-title>

        <!-- Contenedor para el logo -->
        <div class="menu-container">
          <div class="logo-container">
          <img src="/assets/image/logoGYB.jpg" alt="Logo de la empresa" class="user-image" (click)="toggleMenu()">
        </div>
        </div>
      </ion-toolbar>
    </ion-header>
    
    <!-- Menú desplegable fuera del ion-toolbar -->
    <div class="dropdown-menu" *ngIf="isMenuOpen">
      <ion-item (click)="logout()"><ion-icon name="exit-outline" slot="start"></ion-icon>
      Cerrar Sesión
      </ion-item>
    </div>

    <!-- Buscador -->
    <ion-content class="trabajadores-content ion-padding">
      <div class="search-card"> 
      <ion-card>
      <ion-item>
        <ion-input
          type="text"
          placeholder="Buscar trabajadores..."
          [(ngModel)]="searchTerm"
          (ionInput)="onSearch()"
        ></ion-input>
        <ion-button fill="solid" (click)="goToAddWorker()">
          <ion-icon slot="start" name="add"></ion-icon>
          Agregar Trabajador
        </ion-button>
      </ion-item>
      </ion-card>
      </div>

      <!-- Lista de trabajadores -->
      <div class="list-card"> 
      <ion-card>
        <ion-list>
          <ion-item *ngFor="let worker of filteredWorkers">
            <ion-avatar slot="start">
              <ion-img [src]="worker.image"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>{{ worker.name + ' ' + worker.apellido }}</h2>
              <p>{{ worker.role }}</p>
              <p>Proyecto Asociado: {{ worker.nombreProyecto }}</p>
              <p>Estado en Proyecto: {{ worker.proyectoActivo ? 'Activo' : 'Inactivo' }}</p>
            </ion-label>
            <ion-buttons slot="end">
              <ion-button fill="clear" (click)="editWorker(worker)">
                <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
              </ion-button>
              <ion-button fill="clear" color="danger" (click)="deleteWorker(worker)">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-list>                
      </ion-card>
      </div>
    </ion-content>
  </div>
</ion-content>


  

